.bundle
.rvmrc
.yardoc
.ruby-version
.DS_Store
config/database.yml
db/*.sqlite3
doc/app
log/**
tmp
tmp/**/*
public/assets
public/index.html
public/labels/*
public/system/*
coverage
coverage/**/*
.idea/
.eprj
.redcar/*
.project
.pydevproject
*.swp
.rvmrc
coverage.data
.~*
lib/CutyCapt
public/images/sites/*
*.rdb
pdfs
.env
pkg/*